@page "/statistics"

@using Services
@using Models
@using Microsoft.AspNetCore.Components.Sections
@inject ResultService _resultService
@rendermode InteractiveServer

<PageTitle>Statistici</PageTitle>
<SectionContent SectionName="Title"> Statistici </SectionContent>

<div class="grid text-center">
    <div class="row p-2 gap-4">
        <div class="col">
            <PieChart @ref="gradeDistributionChart" />
        </div>
        <div class="col">
            <PieChart @ref="resultDistributionChart" />
        </div>
        <div class="col">
            <BarChart @ref="gradeHistogram" />
        </div>
    </div>
</div>


@code {
    private PieChart gradeDistributionChart = default!;
    private PieChartOptions gradeDistributionOptions = default!;
    private ChartData gradeDistributionChartData = default!;

    private PieChart resultDistributionChart = default!;
    private PieChartOptions resultDistributionOptions = default!;
    private ChartData resultDistributionChartData = default!;

    private BarChart gradeHistogram = default!;
    private ChartData gradeHistogramData = default!;
    private BarChartOptions gradeHistogramOptions = default!;

    protected override void OnInitialized()
    {
        InitGradeDistribution();
        InitResultDistribution();
        InitGradeHistogram();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await gradeDistributionChart.InitializeAsync(gradeDistributionChartData, gradeDistributionOptions);
            await resultDistributionChart.InitializeAsync(resultDistributionChartData, resultDistributionOptions);
            await gradeHistogram.InitializeAsync(gradeHistogramData, gradeHistogramOptions);
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    private void InitGradeDistribution()
    {
        Dictionary<string, double?> distribution = _resultService.GetGradesDistribution().Result;

        var dataset = new PieChartDataset()
            {
                Data = distribution.Values.ToList<double?>(),
            };
        gradeDistributionChartData = new ChartData { Labels = distribution.Keys.ToList(), Datasets = [dataset] };

        gradeDistributionOptions = new();
        gradeDistributionOptions.Responsive = true;
        gradeDistributionOptions.Plugins.Title!.Text = "Distributia mediilor";
        gradeDistributionOptions.Plugins.Title.Display = true;
    }

    private void InitResultDistribution()
    {
        Dictionary<string, double?> passrate = _resultService.GetPassRate().Result;

        var dataset = new PieChartDataset()
            {
                Data = passrate.Values.ToList<double?>(),
            };
        resultDistributionChartData = new ChartData { Labels = passrate.Keys.ToList(), Datasets = [dataset] };

        resultDistributionOptions = new();
        resultDistributionOptions.Responsive = true;
        resultDistributionOptions.Plugins.Title!.Text = "Rata de promovare";
        resultDistributionOptions.Plugins.Title.Display = true;
    }

    private void InitGradeHistogram()
    {
        Dictionary<string, double?> histogram = _resultService.GetGradesHistogram().Result;
        var labels = histogram.Keys.Reverse().ToList();
        var dataset = new BarChartDataset()
            {
                Data = histogram.Values.Reverse().ToList(),
                BackgroundColor = new List<string> { ColorUtility.CategoricalTwelveColors[1] },
                BorderColor = new List<string> { ColorUtility.CategoricalTwelveColors[1] },
                BorderWidth = new List<double> { 0 },
            };
        gradeHistogramData = new ChartData { Labels = labels, Datasets = [dataset] };

        gradeHistogramOptions = new()
            {
                Responsive = true,
                Interaction = new Interaction { Mode = InteractionMode.X },
                IndexAxis = "x"
            };
        gradeHistogramOptions.Scales.X!.Title = new ChartAxesTitle { Text = "Media", Display = true };
        gradeHistogramOptions.Scales.Y!.Title = new ChartAxesTitle { Text = "Nr. studentilor", Display = true };
        gradeHistogramOptions.Plugins.Legend.Display = false;
    }
}
